@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital@0;1&family=Squada+One&display=swap');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --bg: #000000;
  --txt: #ffffff;
  --grey: #B3B3B3;
  --btn: #407FDB;
  --maxWidth: 1240px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--txt);
}

nav, header, main, footer {
  padding: 0 16px;
}

nav {
  margin: 25px auto 50px auto;
  max-width: var(--maxWidth);
  text-align: center;
}

nav > img {
  margin-bottom: 25px;
  width: auto;
  height: 60px;
}

nav .button {
  margin: 0 auto;
}

header, main, footer {
  margin: 0 auto;
  max-width: var(--maxWidth);
}

footer {
  margin: 100px auto 25px auto;
  text-align: center;
}

footer > div:first-child {
  margin-bottom: 50px;
}

footer > div > img {
  margin-bottom: 25px;
  width: auto;
  height: 60px;
}

footer > div > span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: var(--grey);
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

h1, h2 {
  font-size: 40px;
  line-height: 1.1;
}

h3 {
  font-size: 30px;
  color: var(--grey);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li:not(:last-child) {
  margin-bottom: 2px;
}

header > span {
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'Squada One', cursive;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--grey);
  text-align: center;
}

section {
  margin-top: 100px;
  font-size: 16px;
}

section h2 {
  margin-bottom: 30px;
}

blockquote {
  margin: 0;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-color: var(--grey);
  padding: 5px 0 5px 15px;
  font-style: italic;
}

blockquote .author {
  display: block;
  margin-top: 15px;
  font-style: normal;
}

blockquote + p {
  margin-top: 15px;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

a.button {
  display: block;
  margin: 0 auto;
  max-width: max-content;
  background-color: var(--btn);
  padding: 15px;
  font-family: 'Squada One', cursive;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--txt);
}

a.button:hover {
  background-color: #3972C5;
}

a.button img {
  margin-right: 10px;
  width: auto;
  height: 18px;
}

a.social {
  background-color: var(--txt);
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--bg);
  text-transform: inherit;
}

a.social:hover {
  background-color: #dddddd;
}

.preposition {
  max-width: 800px;
  line-height: 1.5;
}

.preposition div:not(:last-child) {
  margin-bottom: 25px;
}

.preposition .footnote {
  font-family: 'Squada One', cursive;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
}

.preposition .footnote.grey {
  color: var(--grey);
}

.cta {
  margin-top: 50px;
}

.cta a {
  flex: 1;
  max-width: 100%;
  text-align: center;
}

.cta a:not(:last-child) {
  margin: 0 0 15px 0;
}

.team > div {
  text-align: center;
}

.team > div:first-child, .pricing > div:first-child {
  margin: 0 0 30px 0;
}

.team > div img {
  border: 10px solid var(--grey);
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.team span {
  display: block;
}

.team .name {
  font-weight: 600;
}

.team a {
  color: var(--grey);
  text-decoration: none;
  transition-duration: 0.3s;
}

.team a:hover {
  color: var(--txt);
}

.team span.bio {
  margin-top: 15px;
  font-size: 14px;
  font-style: italic;
}

.pricing {
  text-align: center;
}

.pricing .price {
  font-family: 'Squada One', cursive;
  font-size: 30px;
  text-transform: uppercase;
}

.pricing ul.description {
  margin: 15px 0;
}

.pricing span.disclaimer, .pricing ul.disclaimer {
  font-size: 14px;
  font-style: italic;
  color: var(--grey);
}

.pricing span.disclaimer {
  font-weight: 600;
}

.pricing > div {
  flex: 1;
}

@media (min-width: 700px) {
  nav, header, main, footer {
    padding: 0 30px;
  }

  nav {
    margin: 50px auto 150px auto;
    display: flex;
    justify-content: space-between;
  }

  nav > img {
    margin-bottom: 0;
    height: 100px;
  }

  nav a {
    margin: 0;
  }

  h1, h2, h3 {
    text-align: left;
  }

  h1, h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  header > span {
    text-align: left;
  }

  footer {
    margin: 150px auto 50px auto;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
  }

  footer > div > img {
    margin-bottom: 0;
    height: 100px;
  }

  footer > div > span {
    display: inherit;
    margin-bottom: 0;
  }

  section {
    margin-top: 150px;
    font-size: 18px;
  }

  section h2 {
    margin-bottom: 50px;
  }

  blockquote {
    border-width: 0 0 0 10px;
  }

  a.button {
    margin: 0;
    padding: 20px;
    font-size: 30px;
  }

  a.button img {
    margin-right: 15px;
    height: 30px;
  }

  .preposition div:not(:last-child) {
    margin-bottom: 50px;
  }

  .preposition .footnote {
    font-size: 40px;
  }

  .cta {
    display: flex;
  }

  .cta a:not(:last-child) {
    margin: 0 50px 0 0;
  }

  .team, .pricing {
    display: flex;
  }

  .team > div {
    flex: 1;
    display: flex;
    text-align: left;
  }

  .team > div img {
    margin-right: 15px;
  }

  .team > div:first-child, .pricing > div:first-child {
    margin: 0 50px 0 0;
  }

  .pricing {
    text-align: left;
  }

  .pricing .price {
    font-size: 40px;
  }

  .pricing ul.description {
    margin: 15px 0 30px 0;
  }
}

@media (min-width: 1280px) {
  nav {
    margin: 100px auto 150px auto;
  }

  blockquote {
    margin: 0 0 0 -25px;
  }
}