.wrapper {
  position: fixed;
  border-bottom: 0.0625rem solid var(--grey900);
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(4px);
  width: 100%;
  padding: var(--sidePadding);
  z-index: 1;
}

.container {
  margin: 0 auto;
  max-width: var(--layoutMaxWidth);
  height: 100%;
}

.menu {
  flex: 1;
  text-align: center;
}

.menu > a {
  margin-bottom: var(--sidePadding);
  height: 1.875rem; /* 50px */
}

.menu > a svg  {
  width: auto;
  height: 1.875rem; /* 50px */
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li:not(:last-child) {
  margin-right: 1.875rem;
}

.menu a {
  color: var(--white);
  text-decoration: none;
}

.cta {
  display: none;
}

@media (min-width: 700px) {
  .wrapper {
    height: var(--navbarHeight);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .menu > a {
    margin: 0 2.5rem 0 0; /* 0 40px 0 0 */
    height: 3.125rem; /* 50px */
  }

  .menu > a svg  {
    width: 4.1875rem; /* 67px */
    height: 3.125rem; /* 50px */
  }

  .cta {
    display: initial;
  }
}