.wrapper {
  padding: calc(var(--sectionMargin) + var(--navbarHeight)) var(--sidePadding) 0;
}

.wrapper h4:not(:first-child) {
  margin-top: var(--sectionInsideMargin);
}

.wrapper h4:not(:last-child) {
  margin-bottom: 1.875rem; /* 30px */
}

.hero {
  margin: 0 auto;
  max-width: var(--layoutMaxWidth);
}

.hero > span {
  font-family: var(--font-squada-one);
  font-size: 2.5rem; /* 40px */
  color: var(--grey400);
  text-transform: uppercase;
}