* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --grey150: #D5D6DC;
  --grey400: #8F91A3;
  --grey600: #5C5E70;
  --grey800: #2E2F38;
  --grey900: #17171C;
  --grey950: #0C0C0E;
  --blue500: #407FDB;
  --blue600: #3972C5;

  /* Layout */
  --layoutMaxWidth: 1240px;
  --sidePadding: 0.9375rem; /* 15px */
  --navbarHeight: 5rem; /* 80px */
  --sectionMargin: 4.6875rem; /* 75px */
  --sectionInsideMargin: 3.125rem; /* 50px */

  /* Typograhpy */
  --fontWeightSemiBold: 600;
  --fontSizeS: 0.875rem; /* 14px */
  --fontSizeM: 1rem; /* 16px */
  --fontSizeL: 1.875rem; /* 30px */
  --fontSizeXl: 2.5rem; /* 40px */

  /* Misc */
  --hoverTransitionDuration: 0.3s;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--black);
  font-size: var(--fontSizeM);
  font-weight: 400;
  color: var(--white);
}

main {
  margin-bottom: 50px;
}

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; /* 1px */
  text-align: left;
}

h1, h2 {
  font-size: var(--fontSizeXl); /* 40px */
  line-height: 1.1;
}

h3 {
  font-size: var(--fontSizeL); /* 30px */
  color: var(--grey150);
  line-height: 1;
}

h4 {
  margin: 0;
  font-size: var(--fontSizeM); /* 30px */
  color: var(--grey400);
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 0.9375rem; /* 15px */
}

a {
  transition-duration: var(--hoverTransitionDuration);
}

blockquote {
  margin: 0 0 0 -1.5625rem; /* 0 0 0 -25px */
  border-width: 0 0 0 0.625rem; /* 0 0 0 10px */
  border-style: solid;
  border-color: var(--grey400);
  padding: 0.3125rem 0 0.3125rem 0.9375rem; /* 5px 0 5px 15px */
  font-style: italic;
}

blockquote .author {
  display: block;
  margin-top: 0.9375rem; /* 15px */
  font-style: normal;
}

blockquote + p {
  margin-top: 0.9375rem; /* 15px */
}

.sr-only {
  position: absolute !important;
  margin: 0;
  border: 0;
  width: 1px;
  height: auto;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media (min-width: 700px) {
  :root {
    --sectionMargin: 9.375rem; /* 150px */
    --fontSizeM: 1.25rem; /* 20px */
  }

  h1, h2 {
    font-size: 3.75rem; /* 44px */
  }

  h3 {
    font-size: 2.5rem; /* 40px */
  }
}