.wrapper {
  margin: var(--sectionMargin) auto 0 auto;
  max-width: var(--layoutMaxWidth);
  display: flex;
  flex-direction: column;
  padding: 0 var(--sidePadding) 1.5625rem;
  font-family: var(--font-open-sans);
  color: var(--white);
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper div > span {
  margin-top: 1.875rem; /* 15px */
  font-size: var(--fontSizeS);
}

.copyright {
  order: 2;
}

.copyright svg {
  display: none;
}

.copyright a {
  border-bottom: 0.0625rem solid var(--grey400); /* 1px */
  color: var(--white);
  text-decoration: none;
}

.copyright a:hover {
  border-color: var(--blue500);
  color: var(--blue500);
}

.links {
  order: 1;
}

.links > span {
  display: none;
}


@media (min-width: 750px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright {
    order: 1;
  }

  .copyright svg {
    display: initial;
    width: auto;
    height: 3.125rem;
  }

  .links {
    order: 2;
  }

  .links > span {
    display: initial;
  }
}